<h1>Index</h1>

{{#each products}}
    <a href="/products/{{this.id}}">
        <div>
            <b>{{this.id}}</b>
            <b>{{this.name}}</b>
            <b>{{this.price}}</b>
        </div>
    </a>
{{/each}}    