<div>
    {{#user}}
    <div>
        <h2>Nombre: {{first_name}}</h2>
        <h2>Email: {{email}}</h2>
        <h2>Tipo de Usuario: {{role}}</h2>
        <h2>ID: {{id}}</h2>
    </div>
    {{/user}}
</div>
